/* CSS Document */
article, aside, figcaption, figure, footer, header, hgroup, nav, section
{
    display: block;
}

em
{
	font-style: normal;
}

#left
{
	float: left;
	width: 100px;
	hieght: 900px;
}

#right
{
	float: right;
	width: 150px;
	height: 900px;
}

#content
{
	width: 500px;
	
	float: left;
}
#header
{
	background-image: url(../img/menu-bg.gif);
	height: 140px;
	text-indent: 0px;
	background-repeat: repeat-x;
	background-position: 0px 30%;
}
#header img
{
	display:block;
	float: left;
}
#header p
{
	display: block;
	float: left;
	font-size: 25px;
	color: #484848;
	padding-top: 10px;
	word-spacing: 10px;
}

.rurse
{
	
	padding-right: 50px;
	
}

#search-text
{
	width:85%;
}
#search-button
{
	width:12%;
}
